In [10]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [11]:
response = requests.get('https://btech-data-analytics.github.io/bridgerland-technical-college/employees_3.html').text

In [12]:
soup = BeautifulSoup(response, 'html.parser')

In [29]:
id=[]
name=[]
age=[]
for employee in soup.find('table').find_all('tr', class_='employee'):
   id.append(employee.find_all('td')[0].text)
   name.append(employee.find_all('td')[1].text)
   age.append(employee.find_all('td')[2].text)

In [33]:
df=pd.DataFrame({
    'id':id,
    'name' : name,
    'age' : age
})
df.head()

    id            name age
0  101        John Doe  28
1  102      Jane Smith  32
2  103  Robert Johnson  24
3  104    Mary Johnson  29
4  105   Michael Brown  35

In [40]:
df['age'].mean()

29.875

In [41]:
df['age'].std()

0.0