In [40]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [41]:
response = requests.get('https://btech-data-analytics.github.io/bridgerland-technical-college/bookstore.html').text

In [42]:
soup = BeautifulSoup(response, 'html.parser')

In [43]:
author=[]
title=[]
animal=[]
ISBN=[]
pages=[]
price=[]

for book in soup.find('table').find_all('tr', class_='book'):
   ISBN.append(book.find_all('td')[0].text)
   title.append(book.find_all('td')[1].text)
   author.append(book.find_all('td')[2].text)
   pages.append(book.find_all('td')[4].text)
   animal.append(book.find_all('td')[5].text)
   price.append(book.find_all('td')[6].text)

In [44]:
df=pd.DataFrame({
    'ISBN' : ISBN,
    'author':author,
    'title' : title,
    'animal' : animal,
    'pages' : pages,
    'price' : price
})
df.head()

,ISBN,author,title,animal,pages,price
0,978-1234567890,Penelope Wainwright,Whiskers of Wisdom: Tales from Feline Philosop...,Cats,256,$19.99
1,978-2345678901,Jasper Sterling,Purrfectly Pawesome: A Cat's Life,Cats,192,$15.99
2,978-3456789012,Penelope Wainwright,Cat Tales: Adventures in Whiskerland,Cats,320,$21.99
3,978-4567890123,Maximilian Thorne,The Enigmatic Paws: Mysteries of Meowville,Cats,288,$17.99
4,978-5678901234,Isadora Harrington,Cats in Wonderland,Cats,224,$16.99

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ISBN    15 non-null     object
 1   author  15 non-null     object
 2   title   15 non-null     object
 3   animal  15 non-null     object
 4   pages   15 non-null     object
 5   price   15 non-null     object
dtypes: object(6)
memory usage: 852.0+ bytes

In [46]:
df['pages']=pd.to_numeric(df['pages'])
df.groupby('animal')['pages'].mean()

animal
Cats    238.4
Dogs    256.0
Name: pages, dtype: float64

In [47]:
df['prices'] = df['price'].str.replace('$', '', regex=False)
df['prices']=pd.to_numeric(df['prices'])
df.groupby('animal')['prices'].mean()

animal
Cats    17.79
Dogs    26.59
Name: prices, dtype: float64

In [18]:
df['author'].value_counts()

author
Penelope Wainwright    4
Jasper Sterling        2
Benjamin Barkley       2
Maximilian Thorne      1
Isadora Harrington     1
Celeste Nightshade     1
Seraphina Montague     1
Sophie Shepherd        1
Oliver Obedience       1
Ruby Ruffington        1
Name: count, dtype: int64

In [19]:
df['animal'].value_counts()

animal
Cats    10
Dogs     5
Name: count, dtype: int64